<head>
{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% load static %}

</head>
<body>
{% block content %} 
    <link rel="stylesheet" type="text/css" href="{% static 'admin/style.css' %}">
    <h2 style="text-align: center; margin-bottom:5vh; margin-top:20vh; background-color:coral;">Home</h2>
    {% if user.is_authenticated %}
    <p style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:x-large;">You are welcome on Home Page</p>
    <p style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:x-large;">A new login has been created for you - {{user.first_name}} {{user.last_name}}</p>
    <p style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:x-large;">Your email is - {{user.email}}</p>
    <br>
    <a href="{% url 'profile' user.id %}" style="font-size:larger; margin-left: 47vw; background-color:khaki; ">Edit Profile</a>
    <br><br>
    <a href="{% url 'change_password' %}" style="font-size:larger; margin-left: 46vw; background-color:khaki; ">Change Password</a>
    <br><br>
    <a  href="{% url 'logout' %}" style="font-size:larger; margin-left: 48vw; background-color:khaki; ">Logout</a>
    {% else %}
    <a href="{% url 'login' %}" style="font-size:larger; margin-left: 48vw; background-color:khaki; ">Login</a>
    <br><br>
    <a href="{% url 'password_reset' %}" style="font-size:larger; margin-left: 46vw; background-color:khaki;">Forgot Password</a>
    <br><br>
    <a href="{% url 'signup' %}" style="font-size:larger; margin-left: 48vw;background-color:khaki;">Sign Up</a>
    <h2 style="text-align: center; margin-bottom:5vh; margin-top:10vh; background-color:coral;">Welcome</h2>
    {% endif %}
{% endblock content %}
</body>