{% extends 'base.html' %}

{% block title %}Login Page{% endblock title %}


{% block content %} 
<body style="background-color: rgb(253, 215, 117);;">
    <h2 style="font-size:larger; background-color: coral;">Login</h2>
    <div style="font-size:larger; background-color:khaki;">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        <br><br>
        <a href="{% url 'password_reset' %}">Forgot Password</a>
        <br><br>
        <a href="{% url 'signup' %}">Sign Up</a>
        <br><br>
        <a href="{% url 'home' %}">Home</a>
    </form>
    </div>
</body>
{% endblock content %}
