{% extends 'base.html' %}

{% block title %}Sign Page{% endblock title %}

{% block content %} 
<body style="background-color: rgb(253, 215, 117);;">
    <h2 style="font-size:larger; background-color:coral;">Sign Page</h2>
    <div style="font-size:larger;  background-color:khaki;">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
        <br><br>
        <a href="{% url 'home' %}">Home</a>
    </form>
    </div>  
</body>
{% endblock content %}